{% extends 'base_.html' %}
{% block title %}
    <title>Delete</title>
{% endblock %}

{% block body %}
<div id="layoutSidenav_content">

<div class="container">
  <div class="card-deck mb-3 text-start">
    <h1 class="card-deck mb-3 text-center">Удаление продукта</h1><br>
    <form method="post">
        {% csrf_token %}
        <div class="col-md-8">
            <h3>Подтвердите удаление продукта: {{ product.name }}</h3>
        </div>
        <button type="submit" class="btn btn-success">Удалить запись</button><br>
        <a href="{% url 'product-detail' product.slug %}" class="btn btn-info">Отмена</a>
        <span>{{ error }}</span>
    </form>
  </div>
</div>
</div>


{% endblock %}