{% extends 'base.html' %}
{% block title %}
<title>Move</title>
{% endblock %}

{% block body %}
<div id="layoutSidenav_content">

    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-lg border-1 rounded-lg mt-3">
                        <div class="card-header">
                            <h3 class="card-title text-center">Перемещение</h3>
                        </div>
                        <div class="card-body" style="display: block;">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <h5 class="card-title text-center">Откуда</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="card-title text-center">Куда</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    {{ form1.number }}
                                    {{ form2.number }}
                                    {{ form1.status }}
                                    {{ form2.status }}
                                    {{ form1.direction }}
                                    {{ form2.direction }}
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Location_form1">Локация (откуда)</label>
                                            <div id="Location_form1">
                                                {{ form1.location }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Location_form2">Локация (куда)</label>
                                            <div id="Location_form2">
                                                {{ form2.location }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Quality_form1">Качество (откуда)</label>
                                            <div id="Quality_form1">
                                                {{ form1.quality }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Quality_form2">Качество (куда)</label>
                                            <div id="Quality_form2">
                                                {{ form2.quality }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group">
                                        <label for="Quantity_form1">Количество</label>
                                        <div id="Quantity_form1">
                                            {{ form1.quantity }}
                                        </div>
                                        <!--                                            <input class="form-control" id="Quantity_form1" type="text"-->
                                        <!--                                                   placeholder="Введите целое число"/>-->
                                    </div>
                                </div>
                                {{ form2.quantity }}
                                <div class="form-floating mb-3">
                                    <div class="form-group">
                                        <label for="Reason_form1">Причина</label>
                                        <div id="Reason_form1">
                                            {{ form1.reason }}
                                        </div>
                                        <!--                                            <textarea class="form-control" id="Reason_form1"-->
                                        <!--                                                      placeholder="Опишите причину изменения количества (например: новая поставка)"></textarea>-->
                                    </div>
                                </div>
                                {{ form2.reason }}
                                <p class="text-danger">*Обязательное поле для заполнения</p>

                                <button type="submit" class="btn btn-primary btn-block">Переместить</button>
                                <a class="btn btn-secondary" href="../" role="button">Отмена</a>

                                <span>{{ error }}</span>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


{% endblock %}
<!--                            <a class="btn btn-secondary" href="{% url 'product-detail' product.slug %}" role="button">Назад</a>-->
