{% extends  'base_auth.html' %}
{% block title %}
<title>Change Password</title>
{% endblock %}

{% block main %}
    <body>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="login-box">
                      <h4>Смена пароля</h4>
                      <form method="post">
                      {% csrf_token %}
                        <div class="user-box">
                            {{ form.old_password }}
                          <label>Старый пароль</label>
                        </div>
                        <div class="user-box">
                            {{ form.new_password1 }}
                          <label>Новый пароль</label>
                        </div>
                        <div class="user-box">
                            {{ form.new_password2 }}
                          <label>Повторите пароль</label>
                        </div>
                        <div class="text">
                            <font color="red" size="2">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    {{ error }}<br><br>
                                {% endfor %}
                            {% endfor %}
                            </font>
                        </div>
                        <button type="submit" class="btn">Далее</button>
                      </form>
                    </div>
                </main>
            </div>
        </div>

    </body>
{% endblock %}

