{% extends  'base_auth.html' %}
{% block title %}
<title>Change Password</title>
{% endblock %}

{% block main %}
    <body>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="login-box">
                      <h4>Ваш пароль успешно изменен</h4>
                        <form action="/">
                           <button class="btn">Войти</button>
                        </form>
                    </div>
                </main>
            </div>
        </div>

    </body>
{% endblock %}

