<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>HTML table Export</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/toolbar/bootstrap-table-toolbar.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/filter-control/bootstrap-table-filter-control.js"></script>

  <script type="text/javascript" src="{% static 'tableExport.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/libs/FileSaver/FileSaver.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/libs/js-xlsx/xlsx.core.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/libs/jsPDF/jspdf.umd.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/tableExport.js' %}"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">

   <script type="text/javaScript">

    $(document).ready(function()
    {
      var $table = $('#table');

      $table.bootstrapTable('refreshOptions', {

        exportOptions: {},
        onExpandRow: function(index, row, $detail) {

          $detail.html('<table></table>').find('table').bootstrapTable({
            columns: [{
              field: 'col3',
              title: 'Col3'
            }, {
              field: 'col4',
              title: 'Col4'
            }, {
              field: 'col5',
              title: 'Col5'
            }],
            data: row.nested,
            detailView: row.nested[0]['other'] !== undefined,
            onExpandRow: function(indexb, rowb, $detailb) {
              $detailb.html('<table></table>').find('table').bootstrapTable({
                columns: [{
                  field: 'col6',
                  title: 'Col6'
                }, {
                  field: 'col7',
                  title: 'Col7'
                }],
                data: rowb.other
              });
            }
          });

        }

      });

    });

  </script>



  </head>
  <body>



    <div class="container">
      <h1 align="center">Data</h1><br>
      <table id="table1"
        data-toggle="table"
        data-height="600"
        data-show-export="true"
        data-show-toggle="true"
        data-show-columns="true"
        data-click-to-select="true"
        data-detail-view="true"
        data-detail-formatter="detailFormatter"
        data-url="{% static 'bootstrap3.json' %}">
        <thead>
          <tr>
            <th data-field="checkbox"    data-checkbox="true"                                                      >           </th>
            <th data-field="Rank"        data-sortable="true"  data-filter-control="select"  data-visible="true"   >Rank       </th>
            <th data-field="Flag"        data-sortable="true"  data-filter-control="input"   data-visible="false"  >Flag       </th>
            <th data-field="Country"     data-sortable="true"  data-filter-control="select"  data-visible="true"   >Country    </th>
            <th data-field="Population"  data-sortable="true"  data-filter-control="select"  data-visible="false"  >Population </th>
            <th data-field="Date"        data-sortable="true"  data-filter-control="select"  data-visible="true"   >Date       </th>
            <th data-field="p_of_world"  data-sortable="true"  data-filter-control="select"  data-visible="false"  >% of world </th>
            <th data-field="Language"    data-sortable="true"  data-filter-control="select"  data-visible="true"   >Language   </th>
          </tr>
        </thead>
      </table>

    </div>
  </body>
</html>
