{% extends 'base.html' %}
{% block title %}
<title>Update</title>
{% endblock %}

{% block body %}
<div id="layoutSidenav_content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg border-1 rounded-lg mt-3">
                    <div class="card-header">
                        <h3 class="card-title text-center">Обновление данных по продукту</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body" style="display: block;">
                            <div class="form-group">
                                <label for="inputCategory">Категория</label>
                                <span><font color="red">*</font></span>
                                <div id="inputCategory">
                                    {{ form.category }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    {{ form.number }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName">Название</label>
                                <span><font color="red">*</font></span>
                                <div id="inputName">
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputDescription">Описание</label>
                                <div id="inputDescription">
                                    {{ form.description }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputComment">Комментарий</label>
                                <div id="inputComment">
                                    {{ form.comment }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPhoto">Фотография</label>
                                <div id="inputPhoto">
                                    {{ form.image }}
                                </div>
                            </div>
                            <p class="text-danger">*Обязательное поле для заполнения</p>
                            <button type="submit" class="btn btn-primary btn-block">Обновить</button>
                            <a class="btn btn-secondary" href="{% url 'product-detail' product.slug %}" role="button">Отмена</a>
                            <span>{{ error }}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}