{% extends 'base.html' %}
{% block title %}
<title>Add</title>
{% endblock %}

{% block body %}
<div id="layoutSidenav_content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg border-1 rounded-lg mt-3">
                    <div class="card-header">
                        <h3 class="card-title text-center">Списание</h3>
                        {% for el in prod %}
                        <h6 class="text-center">({{ el.number }} - {{ el.name }})</h6>
                        {% endfor %}
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body" style="display: block;">
                            {{ form.number }}
                            {{ form.author }}
                            <div class="form-group">
                                <div id="inputStatus">
                                    {{ form.status }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group">
                                    <div id="inputDirection">
                                        {{ form.direction }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group">
                                    <label for="inputLocation">Локация</label>
                                    <span><font color="red">*</font></span>
                                    <div id="inputLocation">
                                        {{ form.location }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group">
                                    <label for="inputQuality">Качество</label>
                                    <span><font color="red">*</font></span>
                                    <div id="inputQuality">
                                        {{ form.quality }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group">
                                    <label for="inputQuantity">Количество</label>
                                    <span><font color="red">*</font></span>
                                    <div id="inputQuantity">
                                        {{ form.quantity }}
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="form-group">
                                    <label for="inputReason">Причина</label>
                                    <span><font color="red">*</font></span>
                                    <div id="inputReason">
                                        {{ form.reason }}
                                    </div>
                                </div>
                            </div>
                            <p class="text-danger">*Обязательное поле для заполнения</p>
                            <button type="submit" class="btn btn-primary btn-block">Списать</button>
                            <a class="btn btn-secondary" href="../" role="button">Отмена</a>
                            <span>{{ error }}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
